include README.rst
include LICENSE.rst

include setup.cfg

recursive-include fermipy *.yaml *.fits *.xml *.fit *.dat *.txt *.pyx *.pxd *.c *.h
recursive-include licenses *
recursive-include docs *

prune build
prune docs/_build

